[Unit]
Description=<project description>

[Service]
User=root
WorkingDirectory=/root/health_manager/health-manager
ExecStart=/bin/bash -c 'python test_manager.py'
Restart=always

[Install]
WantedBy=multi-user.target
