[Unit]
Description=<project description>

[Service]
User=root
WorkingDirectory=/root/health_manager
ExecStart=/bin/bash -c 'python manager.py'

[Install]
WantedBy=multi-user.target
