[Unit]
Description=<project description>

[Service]
User=nico
WorkingDirectory=/root/health_manager
ExecStart=/bin/bash -c 'python3 test_manager.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target
